.spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
}


.existing-account-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;


}

.existing-account-link:hover {
    font-weight: bold;  
}
.login-btn{
    margin-top: 15px !important;
}