.main-body-login {
  text-align: center !important;
  margin-top: 50px !important;

}

.card-body-login {
    margin-top: 80px !important;
    background-color: green !important;
    color: white !important;
}
@media(max-width:576px){
    .card-body-login {
            margin-top: 80px !important;
            background-color: green !important;
            color: white !important;
        }
}

.card-border-login {
    border: 1px solid white!important;
}

.form-control:focus {
    border: 1px solid rgb(255, 193, 255);
}


.spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
}

/* LogIn.css */

.existing-account-link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;


}

.existing-account-link:hover {
    font-weight: bold;  
}
.login-btn{
    margin-top: 15px !important;
}