.main-body-login {
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card-body-login {
    width: 50vw;
    margin-top: 30px;
    position: relative;
    left: 20%;
    background-color: purple !important;
    color: white !important;
}

.card-border-login {
    border: 2px solid rgb(192, 92, 192) !important;
}

.form-control:focus {
    border: 1px solid rgb(255, 193, 255);
}

.btn-login {
    width: 70% !important;
    position: relative !important;
    left: 16%;
    margin-top: 10px !important;
    background-color: rgb(202, 144, 255) !important;
    color: white !important;
    border: none !important;
    transition: transform 0.3s ease !important;
}

.btn-login:hover {
    transform: scale(1.1) !important;
}

.spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
}

/* LogIn.css */

.existing-account-link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;

}

.existing-account-link:hover {
    color: rgb(253, 193, 193);
}